.electricity {
    display: flex;
    gap: 10px;
    
}
.electricity-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}
.electricity-card {
    display: flex;
    flex-direction: column;
    border:1px solid #fcd19e;
    border-radius: 8px;
    
    
}


.electricity-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex: 1;
    gap: 10px;
    text-align: left;
    padding: 20px;
}

.pay-btn {
    height: 40px;
    border-radius: 5px;
    background-color:#f7bb72;
    border: 1px solid #fcd19e;
}
.pay-btn:hover {
    background-color: #eba95a;
    border: 1px solid #ec9a36;
}


@media (max-width: 768px) {
    .toggle-off {
        display: none;
    }

    .toggle-on {
        display: flex;
    }


    .card-sub {
        max-width: 300px;
    }

    .sidebar-toggle-button {
        display: flex;
    }
    .electricity-card {
        margin: 20px;
    }
}